<%= form_for(@order_ticket) do |f| %>
  <% if @order_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_ticket.errors.count, "error") %> prohibited this order_ticket from being saved:</h2>

      <ul>
      <% @order_ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <% @mo.parts.each do |part| %>
      <%= check_box_tag "model[part_ids][]", part.id %>
      <%= part.name %>  
    <% end %>
 


    <%= f.hidden_field :device_id, :value => params[:device_id] %>
    <%= f.hidden_field :status, :value => "open" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
