<h1>Listing order_tickets</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_tickets.each do |order_ticket| %>
      <tr>
        <td><%= order_ticket.description %></td>
        <td><%= link_to 'Show', order_ticket %></td>
        <td><%= link_to 'Edit', edit_order_ticket_path(order_ticket) %></td>
        <td><%= link_to 'Destroy', order_ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order ticket', new_order_ticket_path %>
